body {
 background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-carrito{
  width: 35px;
}

.contador{
  color:#fff!important ;
  
}

